# GitHub Config
GITHUB_TOKEN=your_personal_access_token
GITHUB_USERNAME=your_username

# APP Settings
CACHE_TTL_SECONDS=3600
LOG_LEVEL=info

# /profile.svg route settings
PROFILE_NUMBER_LANGS=3
PROFILE_FILTER_LANGS=php